* {
    margin: 0;
    padding: 0;
}

nav {
    border: 1px solid;
    display: flex;
    justify-content: space-between;
}

.nav-container {
    display: flex;
    align-items: center;
    margin: 20px 20px 20px 200px;
    
}

.nav-item {
    border: 1px solid;
    padding: 10px 20px;
    cursor: pointer;
}

.nav-item-container {
    display: flex;
    margin: 20px 50px 20px 20px;
    justify-content: space-between;
}

.title {
    /* display: flex; */
}